<div>
    <div class="alert clearfix">
      <button type="button" class="btn btn-primary btn-lg pull-right btn-gradient" (click)="openDialog()">
        <i class="icon-plus icons font-2xl "></i>
        Create Candidate
      </button>
    </div>
    <div class="card">
      <div class="card-header bg-white parent">
        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
          <button dropdownToggle type="button" class="btn btn-primary btn-dropdown dropdown-toggle">
            Job Titles
            <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu"> 
            <li role="menuitem" *ngFor="let jT of jobTitles">
              <a class="dropdown-item">
              {{jT.title_name}}
            </a>
            </li>
          </ul>
        </div>
        
      </div>
      
      <div class="card-body">
        <table mdbTable mdbTableScroll  scrollY="true" scrollX="true"  maxHeight="50" maxWidth="50" class="table">
          <thead>
            <tr mdbTableCol >
              <th  scope="row">First Name</th>
              <th  scope="row">Last Name</th>
              <th  scope="row">Email</th>
              <th  scope="row">Phone Number</th>
              <th  scope="row">CV</th>
              <th  scope="row">Job</th>
              <th  scope="row">State</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of datas">
              <td>
                <a  [routerLink]="['/recruitment/candidate',data.id]">
                  {{data.first_name}}
                </a>
              </td>
              <td>{{data.last_name}}</td>
              <td>{{data.email}}</td>
              <td>{{data.phone_no}}</td>
              <td>-</td>
              <td>{{data.position}}</td>
              <td>{{data.candidate_state}}</td>
              

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>