<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="team">
      <a ngbNavLink>Team</a>
      <ng-template ngbNavContent>
        <app-manager></app-manager>
      </ng-template>
    </li>
    <!-- <li ngbNavItem="hr">
      <a ngbNavLink>HR</a>
      <ng-template ngbNavContent>
        <app-hr></app-hr>
      </ng-template>
    </li> -->
    <li ngbNavItem="calendar">
      <a ngbNavLink>Calendar</a>
      <ng-template ngbNavContent>
        <app-calendar></app-calendar>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>