.img-profile {
    width: 70%;
    height: 70%;
    margin: 10%;
}

.text-label {
    color: #797D95;
    font-size: small;
}

.text-content {
    font-size: small;

}

.aligned-with-icon{
    position: absolute;
    margin-top: 3px;
    margin-left: 8px;
}

.panel-left {
    margin-left : 5%;
}

.panel-margin {
    margin-left : 3%;
    margin-top: 3%;
    margin-right : 3%;
}

.btn-gradient {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}