<mat-tab-group  mat-align-tabs="center">
  <mat-tab label="EMPLOYEE">
    <div>
      <div class="alert clearfix">
        <button type="button" class="btn btn-primary btn-lg pull-right btn-gradient">
          <i class="icon-plus icons font-2xl "></i>
          Create Employee
        </button>
      </div>
      <div class="card">
        <div class="card-header bg-white parent">
          <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
            <button dropdownToggle type="button" class="btn btn-primary btn-dropdown dropdown-toggle">
              Button dropdown 
              <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
            </ul>
          </div>
        </div>
        
        <div class="card-body">
          <table mdbTable mdbTableScroll  scrollY="true" scrollX="true"  maxHeight="50" maxWidth="50" class="table">
            <thead>
              <tr mdbTableCol >
                <th  scope="row"class="border-top-0">Username</th>
                <th  scope="row">Name</th>
                <th  scope="row">Role</th>
                <th  scope="row">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of datas; let i = index">
                <td>{{data.first_name}}</td>
                <td>{{i}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-tab>