<div>
  <div class="alert clearfix">
  </div>
  <div class="card">
    <div class="card-header bg-white parent">
      <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
        <button dropdownToggle type="button" class="btn btn-primary btn-dropdown dropdown-toggle">
          Job Titles
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu"> 
          <li role="menuitem" *ngFor="let jT of jobTitles">
            <a class="dropdown-item">
            {{jT.title_name}}
          </a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
        <button dropdownToggle type="button" class="btn btn-primary btn-dropdown dropdown-toggle">
          Teams
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu"> 
          <li role="menuitem" *ngFor="let team of teams">
            <a class="dropdown-item" *ngIf = "team.team_type === 0"> 
            {{team.team_name}}
          </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="card-body">
      <table mdbTable mdbTableScroll  scrollY="true" scrollX="true"  maxHeight="50" maxWidth="50" class="table">
        <thead>
          <tr mdbTableCol >
            <th  scope="row">From</th>
            <th  scope="row">To</th>
            <th  scope="row">Total</th>
            <th  scope="row">Type</th>
            <th  scope="row">Status</th>
            <th  scope="row"></th>
            <th  scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas">
            <td>
              <!-- <a  [routerLink]="['/employee/',data.id]">
                {{data.first_name}}
              </a> -->
                {{data.start_date | date:'dd/MM/yyyy'}}
            </td>
            <td>{{data.end_date | date:'dd/MM/yyyy'}}</td>
            <td>{{data.day_off}}</td>
            <td>{{data.leave_type.name}}</td>
            <td *ngIf="data.event_status === 0">Unofficial</td>
            <td *ngIf="data.event_status === 1">Official</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>