<mat-tab-group  mat-align-tabs="center">
    <mat-tab label="Candidate">
        
        <div class="container bootstrap snippet">
            <div class="row" style="margin: 3%;">
                <div class="col-3"><!--left col-->
                  <div class="card text-center">
                    <img src="../../../../assets/img/profile.png" class=" mx-auto img-circle img-profile" alt="avatar">
                    <div class="card-body" *ngIf="candidate != null">
                        <h4 class="card-title">{{candidate.first_name + " " + candidate.last_name}}</h4>
                        <p class="card-text">{{candidate.candidate_state}}</p>
                        <p class="card-text">{{candidate.email}}</p>
                        <p class="card-text">{{candidate.phone_no}}</p>

                    </div>
                  </div>
                  
                </div><!--/col-3-->
                <div class="col-9">
                  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="general">
                      <a ngbNavLink>GENERAL</a>
                        <ng-template ngbNavContent>
                            <form [formGroup]="update_candidate"  (ngSubmit)="updateCandidate1()" class="form panel-margin " action="##" method="post" id="registrationForm">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="first_name"><h6>First name</h6></label>
                                            <input type="text" formControlName="firstName" class="form-control" name="first_name" id="first_name"title="Enter your first name if any.">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="last_name"><h6>Last Name</h6></label>
                                            <input type="text" formControlName="lastName" class="form-control" name="last_name" id="last_name" title="Enter your first name if any.">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="nationality_ID"><h6>Nationality ID</h6></label>
                                            <input type="text" formControlName="nationalityID" class="form-control" name="nationality_ID" id="nationality_ID" title="Enter your last name if any.">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="email"><h6>Email</h6></label>
                                            <input type="email" formControlName="email" class="form-control" name="email" id="email" title="enter your email.">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="phone_contact"><h6>Phone number</h6></label>
                                            <input type="number" formControlName="phoneNumber" class="form-control" name="phone_contact" id="birthdate"  title="choose your birthdate.">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="sel_gender"><h6>Gender</h6></label>
                                            <select class="form-control" formControlName="gender" id="sel_gender" >
                                                <option [ngValue]="0">Female</option>
                                                <option [ngValue]="1">Male</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                            <button class="btn btn-lg btn-gradient" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                    </div>
                                </div>
                            </form>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="job">
                      <a ngbNavLink>JOB</a>
                        <ng-template ngbNavContent>
                            <form [formGroup]="update_candidates_2" class="form panel-margin " action="##" method="post" id="registrationForm">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="sel_job_titles"><h6>Job Tittle</h6></label>
                                            <select class="form-control" id="sel_job_titles" formControlName="jobTitle">
                                                <option *ngFor="let jobTitle of jobTitles" [ngValue]="jobTitle.id">{{jobTitle.title_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="candidate_type"><h6>Employment Type</h6></label>
                                            <select class="form-control" id="sel_candidate_type" formControlName="employeeType">
                                                <option [ngValue]="1">Full-time</option>
                                                <option [ngValue]="0">Part-time</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="sel_candidate_status"><h6>Candidate Status</h6></label>
                                            <select class="form-control" id="sel_candidate_status" formControlName="candidateStatus">
                                                <option *ngFor="let jobTitle of jobTitles" [ngValue]="jobTitle.id">{{jobTitle.title_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                            <button class="btn btn-lg btn-gradient" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                    </div>
                                    
                                </div>
                            </form>
                        </ng-template>
                    </li>
                  </ul>
                  
                  <div [ngbNavOutlet]="nav" class="mt-2"></div>
                  
                </div><!--/col-9-->
            </div><!--/row-->
            </div>
    </mat-tab>
  </mat-tab-group>
